  #configMenu {
    border-radius: 50%;
    background-color: var(--bottomMenu-color);
    padding: 10px;
    margin: 0;
    height: max-content;
    width: max-content;
    @include flexConfig();
   
    
    img {
      height: 30px;
      cursor: pointer;
    }
    
    .configModal {
      @include flexConfig(column, center, center, 10px);
      padding: 15px;
      background-color: var(--bottomMenu-color);
      border-radius: 15px;
      position: absolute;
      top: -20px;
      right: 30px;
      height: max-content;
      width: max-content;
      transform-origin: bottom;
      
      b {
        font-size: 1.2em
      }

      ul {
        @include flexConfig(column, center, center, 2px);
      }

      button {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        filter: grayscale(1);
        cursor: pointer;
        transition: filter .3s ease;

        &[data-islang=true] {
          filter: grayscale(0);
        }
      }
    }
    
    &[data-isdesktop=true] {
      position: fixed;
      bottom: 20px;
      left: 20px;
      .configModal {
        left: 0;
      }
    }
  }

@include mediaSecondBreakpoint {
  #configMenu {
    &[data-isdesktop=true] {
      display: none;
    }
    
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: max-content;
    @include flexConfig();

    .configModal {
      padding: 15px;
      background-color: var(--bottomMenu-color);
      border-radius: 15px;
      position: absolute;
      top: -20px;
      right: 30px;
      height: max-content;
      transform-origin: bottom;

      ul {
        @include flexConfig(column, center, center, 2px);
      }

      button {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        filter: grayscale(1);
        cursor: pointer;
        transition: filter .3s ease;

        &[data-islang=true] {
          filter: grayscale(0);
        }
      }
    }
  }
}
