
#header {
  margin-top: 15px;
  position: sticky;
  top: 10em;
  width: 40%;
  @include flexConfig(column, start, start);
  flex-wrap: wrap;
  height: fit-content;

  .fotoContainer {
    border-radius: 200%;
    border: solid 2px var(--textEnfasisColor);
    overflow: hidden;
    height: 150px;
    width: 150px;
  
    img {
      height: 100%
    }
  }

  #nameContainer {
    text-align: start;
    max-width: 400px;
    
    h1 {
      text-align: start;
      font-size: 3.2em;
      margin-bottom: 0;
      margin-top: 0;
    }
    
    h2 {
      text-align: start;
      margin-top: 0;
      text-wrap: balance;
    }
  }

  .contactContainer {
    height: 30px;
  
    img {
      height: 30px;
      margin-right: 15px;
      cursor: pointer;
      filter: var(--svg-invert);
      transition: all .3s;
  
      &:hover {
        // filter: var(--svg-invert);
        transform: scale(1.2);
      }
    }
  }
}

@include mediaFirstBreakpoint {
  #header {
    position: initial;
    margin-left: 60px;
    top: 0;
    width: 100%;
    @include flexConfig(row, start, start, 30px);
  }
}

@include mediaSecondBreakpoint {
  #header {
    margin: 0;
  }
}
