.modalContainer {
  @include widthHeight(100%, 100%);
  position: fixed;
  top: 0;
  left: 0;
  @include flexConfig();
  backdrop-filter: blur(10px);
}

.projectModal {
  position: relative;
  border-radius: 10px;
  @include widthHeight(70%, max-content);
  @include maxWidthHeight(80%, 80%);
  padding: 40px;
  background-color: var(--projectModal-backgroundColor);// #301E67;
  @include flexConfig(column);
  z-index: 4000;
  
  h2 {
    width: 100%;
    font-size: 2.5em;
    text-align: start;
    margin: 10px;
    color: var(--textEnfasisColor);
    @include flexConfig(row, center, center, 20px);
  }
  
  .iconMode {
    display: none;
  }
  
  .projectModal--textContainer {
    font-size: .9em;
    max-height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;
    
    .projectModal--img_Container {
      float: left;
      position: relative;
      max-width: max-content;
      margin: 0 20px;
      cursor: pointer;
    
      .imgIconGo {
        width: 90px;
        filter: invert(1);
        position: absolute;
        top: calc(50% - 45px);
        left: calc(50% - 45px);
        display: none;
        cursor: pointer;
      }
    
      .projectModal--img {
        max-width: 30em;
        cursor: pointer;
        transition: all .3s;
      }
    
      &:hover>.projectModal--img {
        filter: brightness(.3);
      }
    
      &:hover>.imgIconGo {
        display: inline;
      }
    }
    
    p {
      margin: 0 20px;
      text-align: start;
      font-size: 1.3em;
      line-height: 1.5em;
      text-wrap: pretty;
    }
  }
}

.projectModal--techs {
  @include flexConfig(row, center, center, 10px);
  margin: 30px 0;
  flex-wrap: wrap;
  max-width: 95%;

  .jobTech {
    width: 40px;
  }
}

.closeModal {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;

  img {
    width: 40px;
    transition: all .2s;
  }

  img:hover {
    transform: scale(1.1);
  }
}

.botomLinks {
  padding: 0;
  @include flexConfig(row, center, center, 30px);
  flex-wrap: wrap;
  button {
    @include button();
  }
}

@include mediaFirstBreakpoint {
  .projectModal {
    z-index: 9000;
    @include widthHeight(90%, 70%);

    @include mediaSecondBreakpoint {
      padding: 20px;
      h2 {
        font-size: 1.5em;
        width: 85%;
      }
      .iconMode {
        display: block;
        filter: invert(1);
        width: 15px;
      }
      .textMode {
        display: none;
      }
      .projectModal--techs {
        margin: 0;
        img {
          width: 25px;
        }
      }
      .projectModal--textContainer{
        @include maxWidthHeight(95%, none);
        
        .projectModal--img_Container {
          max-width: 100%;

          .projectModal--img{
            max-width: 100%;
            border: 2px solid var(--textEnfasisColor) ;
          }
        }

        p{
          padding-right: 0px;
          font-size: 1em;
        }
      }
    }
  }
}
