.allContainer {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.main {
  width: 60%;
  @include flexConfig(column, center, center, 7em);
}


#projectsResponsiveTag {
  position: relative;
  top: -60px;
}

@include mediaFirstBreakpoint {
  .allContainer {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .main {
    width: 100%;
  }

}

@include mediaSecondBreakpoint {
  .allContainer {
    justify-content: start;
    margin-bottom: 30px;
  }

  .hr {
    width: 60%;
  }
}
