#menuResponsive {
  display: none;
}

@media (max-width: 658px) {
  #menuResponsive {
    z-index: 300;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: gray;
    ul {
      margin: 0;
      padding: 0;
      @include flexConfig(row, center, space-around);
      
      li {
        cursor: pointer;
        padding: 15px;
        margin: 0;
        height: max-content;
        @include flexConfig();
        a {
          @include flexConfig();
          img {
            height: 35px;
          }
        }

        
          
        //   .languageSelector {
        //     padding: 15px;
        //     background-color: gray;
        //     border-radius: 15px;
        //     position: absolute;
        //     top: -20px;
        //     right: 30px;
        //     height: max-content;
        //     transform-origin: bottom;
            
        //     ul {
        //       @include flexConfig(column, center, center, 2px);
        //     }
            
        //     button {
        //       appearance: none;
        //       -webkit-appearance: none;
        //       border: none;
        //       background-color: rgba(0, 0, 0, 0);
        //       filter: grayscale(1);
        //       cursor: pointer;
        //       transition: filter .3s ease;
              
        //       &[data-islang=true] {
        //         filter: grayscale(0);
        //       }
        //     }
        //   }
      }
    }
  }
}
